<div class="container">
	<div class="col s12 m7">
		<br/>
		<br/>
		<h2 class="center">About Us</h2>
		
		<div class="card horizontal">
			<div class="card-stacked">
				<div class="card-content">
					<div class="row">
						<div class="col l5 s12 center">
							<img src="/assest/images/1.jpeg" class="circular--landscape">
						</div>
						<div class="col l7 s12 center">
							<h3>Owner Detail</h3>
							<p style="font-size:19px; line-height:35px; font-weight: 700">
								Susanta Chokroborty <br/>
								Phone Number: 9331022918<br/>
								Email: abc@gmail.com<br/>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<h2 class="center">Our Store</h2>
	<div class="card horizontal">
			<div class="card-stacked">
				<div class="card-content">
					<div class="row">
						<div class="col l7 s12 center">
							<div class="slider" style="width: 100%">
								<ul class="slides">
								  <li>
									<img src="/assest/images/2.jpeg" style="position:contain;"> <!-- random image -->
								  </li>
								  <li>
									<img src="/assest/images/1.jpeg"> <!-- random image -->
								  </li>
								 
								</ul>
							</div>
						</div>
						<div class="col l5 s12 center ">
							<h3>Address</h3>
							<p style="font-size:19px; line-height:35px; font-weight: 700">
							Kolkata:<br/>
							Daag No.445-451, 454-456<br/>
							P.O - Chaturbhujkati,<br/>
							Dist: Howrah<br/>
							West Bengal<br/>
							PIN- 711313<br/>
							Tel: 9331022918<br/>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<br/>
	<br/>
	<h2 class="center">Locate US</h2>
	<div class="row">
		<div class="span12"><div class="google-map"><iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+NY,+USA&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=47.704107,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.949919&amp;spn=0.01628,0.028238&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" width="100%" height="300" marginwidth="0" marginheight="0" scrolling="no"></iframe></div></div>
	</div>
	<br/>
	<br/>
</div>

