<div class="container w-25">
    <form>
        <div class="form-group">
          <label>UNIQUE STUDENT VOTE ID</label>
          <input type="text" class="form-control"  placeholder="VOTER STUDENT ID :1737XX*&%" ng-model="$root.stuID">
        </div>
        <div class="form-group">
          <label>Registered Mobile Number</label>
          <input type="text" class="form-control"ng-model="$root.mobID"  placeholder="8975616757">
        </div>
        <button class="btn btn-primary" ng-click="studentLogin()">Submit</button>
      </form>
</div>