<hr class="hr-cool">
<h1 class="text-center text-danger" style="font-family:'Miltonian Tattoo';">Total Cost : {{totalPrice}}</h1>
<hr class="hr-cool">
<div class="row">
    <div class="col-lg-4 col-sm-6" ng-repeat="item in selectedFood">

        <div class="card border-success mb-3">
            <div class="modal fade" id="{{'exampleModal'+item.icode}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Really want to remove this product?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeItems(item)">Yes!</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="input-group w-100">
                <span class="input-group-addon">Q.</span>
                <span class="input-group-addon">{{item.quantity}}</span>
                <input type="number" ng-change="update_total()" ng-model="item.quantity" class="form-control" placeholder="Quantity">
            </div>
            <div class="card-body font-ch-style" style="padding:5px;">
                <img src="{{item.img}}" style="width:100%">
                <p class="card-title text-truncate"><a href="#!detail/{{item.icode}}"><span style="font-size:1.5em;">{{item.name}}</span></a></p>
                <p class="card-title">$ <span style="font-size:2em;">{{item.price}}</span></p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="{{'#'+'exampleModal'+item.icode}}">
                    Remove &times;
                </button>
            </div>
        </div>
    </div>
</div>
